:root {
  font-size: 1.125em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0deg, 0%, 98%);
  font-family: "Epilogue", sans-serif;
  overflow: scroll;
}

img {
  max-width: 100%;
}

.logo {
  margin: 24px 16px 24px;
  width: 4.8333333333rem;
}
@media (min-width: 750px) {
  .logo {
    margin: 29px 40px clamp(24px, 0.068115942 * 100vw + -27.0869565217px, 71px);
  }
}

.navigation__backdrop {
  opacity: 0;
}

.navigation__toggle {
  display: block;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 750px) {
  .navigation__toggle {
    display: none;
  }
}

.toggle--open {
  background-image: url(../images/icon-menu.svg);
  width: 32px;
  height: 18px;
  position: absolute;
  right: 16px;
  top: 25px;
}

.toggle--close {
  background-image: url(../images/icon-close-menu.svg);
  width: 24px;
  height: 24px;
  position: fixed;
  top: 22px;
  right: 20px;
}

.navigation__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(0deg, 0%, 8%);
  opacity: 0.75;
}
@media (min-width: 750px) {
  .navigation__backdrop {
    display: none;
  }
}

.navigation__menu {
  list-style-type: none;
  color: hsl(0deg, 0%, 41%);
  position: absolute;
  list-style-type: none;
  color: hsl(0deg, 0%, 41%);
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 500;
  padding-top: 78px;
  padding-left: 24px;
  padding-right: 21px;
  position: fixed;
  display: block;
  width: 240px;
  height: 100vh;
  background-color: hsl(0deg, 0%, 98%);
  right: -240px;
  top: 0;
  transition: right 0.2s linear;
}
@media (min-width: 750px) {
  .navigation__menu {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 21px;
    right: 40px;
    left: 187px;
    font-size: 0.7777777778rem;
    line-height: 1.1428571429;
    font-weight: 500;
  }
}

.menu--open {
  right: 0;
}

.menu__item {
  cursor: pointer;
  transition: all 0.1s ease-in;
  margin-bottom: 0.8888888889rem;
}
@media (min-width: 750px) {
  .menu__item {
    margin-left: clamp(25px, 0.0217391304 * 100vw + 8.6956521739px, 40px);
    margin-bottom: 0;
  }
  .menu__item:first-child {
    margin-left: 0;
  }
}
.menu__item:hover {
  color: hsl(0deg, 0%, 8%);
}

.menu__arrow {
  margin-left: 0.8888888889rem;
  margin-bottom: 1px;
  stroke: currentColor;
}
@media (min-width: 750px) {
  .menu__arrow {
    margin-left: 0.4444444444rem;
  }
}

.item--about {
  margin-bottom: 1.7777777778rem;
}
@media (min-width: 750px) {
  .item--about {
    margin-right: clamp(25px, 0.0217391304 * 100vw + 8.6956521739px, 40px);
    margin-bottom: 0;
  }
}

.item--login {
  font-size: 0.7777777778rem;
  line-height: 1.1428571429;
  font-weight: 500;
  text-align: center;
  margin-left: auto;
}

.item--button {
  font-size: 0.7777777778rem;
  line-height: 1.1428571429;
  font-weight: 500;
  text-align: center;
  border: 1.5px solid hsl(0deg, 0%, 41%);
  border-radius: 14px;
  padding: 0.8214285714em 1.5714285714em;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.item--button:hover {
  border-color: hsl(0deg, 0%, 8%);
}

main {
  background-color: hsl(0deg, 0%, 98%);
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  main {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: clamp(50px, 0.1666666667 * 100vw + -75px, 165px);
    margin-right: clamp(50px, 0.115942029 * 100vw + -36.9565217391px, 130px);
  }
}

.image-wrapper {
  font-size: 0;
}
@media (min-width: 750px) {
  .image-wrapper {
    width: 480px;
  }
}

.hero-img {
  margin-bottom: 2.6527777778rem;
}
@media (min-width: 750px) {
  .hero-img {
    margin: 0;
  }
}

.content {
  margin-inline: 16px;
  text-align: center;
}
@media (min-width: 750px) {
  .content {
    align-self: flex-end;
    flex-shrink: 2;
    margin-left: 0;
    margin-right: clamp(2rem, 0.0057971014 * 100vw + 1.7584541063rem, 2.2222222222rem);
    max-width: 540px;
    text-align: left;
  }
}

.content__heading {
  font-size: 2rem;
  line-height: 1.1666666667;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 0.4444444444em;
}
@media (min-width: 750px) {
  .content__heading {
    font-size: clamp(2rem, 0.0637681159 * 100vw + -0.6570048309rem, 4.4444444444rem);
    line-height: clamp(42px, 0.0550724638 * 100vw + 0.6956521739px, 80px);
    letter-spacing: clamp(-0.5px, -0.000884058 * 100vw + 0.1630434783px, -1.11px);
    margin-bottom: clamp(0.8888888889rem, 0.0463768116 * 100vw + -1.0434782609rem, 2.6666666667rem);
  }
}

.content__paragraph {
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 500;
  color: hsl(0deg, 0%, 41%);
  max-width: 500px;
  margin-inline: auto;
  margin-bottom: 1.5em;
}
@media (min-width: 750px) {
  .content__paragraph {
    max-width: none;
    font-size: 1rem;
    line-height: 1.5555555556;
    margin-bottom: 2.8333333333em;
    margin-right: clamp(0px, 0.1376811594 * 100vw + -103.2608695652px, 95px);
  }
}

.content__cta-button {
  border: 0;
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 700;
  letter-spacing: -0.22px;
  padding: 0.625em 1.375em;
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(0deg, 0%, 8%);
  border: 1px solid hsl(0deg, 0%, 8%);
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 2.6666666667rem;
  width: max-content;
  transition: all 0.1s ease-in;
}
@media (min-width: 750px) {
  .content__cta-button {
    font-size: 1rem;
    line-height: 1.5555555556;
    font-weight: 700;
    letter-spacing: -0.25px;
    padding: 0.7222222222em 1.6666666667em;
    margin-bottom: 6rem;
  }
}
.content__cta-button:hover {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
}

.content__clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
  margin-inline: auto;
}
@media (min-width: 750px) {
  .content__clients {
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: clamp(0px, 0.0898550725 * 100vw + -67.3913043478px, 62px);
  }
}

.clients__databiz-logo {
  width: clamp(4.5138888889rem, 0.0462173913 * 100vw + 2.5881642512rem, 6.2855555556rem);
}

.clients__audiphile-logo {
  width: clamp(2.9372222222rem, 0.029173913 * 100vw + 1.7216425121rem, 4.0555555556rem);
}

.clients__meet-logo {
  width: clamp(3.5633333333rem, 0.0364782609 * 100vw + 2.0434057971rem, 4.9616666667rem);
}

.clients__maker-logo {
  width: clamp(3.2722222222rem, 0.0334927536 * 100vw + 1.8766908213rem, 4.5561111111rem);
}

.attribution {
  position: absolute;
  bottom: 1em;
  width: 100%;
  font-size: 11px;
  text-align: center;
  z-index: -1;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
